<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="replyMapper">
	<select id="readReply" resultType="com.sh.Dto.ReplyDto">
		SELECT
    		bno , rno, content, writer, writeDate
    	FROM 
    		productReply
    	WHERE 
    		bno = #{bno}
	</select>
	
	<insert id="writeReply">
		insert into productReply 
			(bno , content , writer , writeDate )
		values 
			(#{bno} ,#{content} , #{writer} , #{writeDate} )
	</insert>
</mapper>

